<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/robotaur" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/robot-reavers" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <title>Random Avatar Generator</title>
    <!-- BEGIN SHAREAHOLIC CODE -->
    <link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
    <meta name="shareaholic:site_id" content="1c051ecba369321561b371e5b89056ee" />
    <script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
    <!-- END SHAREAHOLIC CODE -->
</head>
<body>
    <section class="layout">
        <div class="header">
            <h1 class="header_logo1">Random Avatar Generator</h1>
            <h2 class="header_logo2">CPSC 3720 Project</h2>
        </div>
        <div class="leftSide">
            <form id="form1" method="post" action="/">
                <input type="submit" class="button1" value="Generate" name="action1"/>
            </form>
        </div>
        <div class="body">
            <div class="container">
                <img class="avatar" src="cache/{{ robohash }}.png"/>
                <img class="frame" src="static/frame2.png"/>
            </div>
        </div>
        <div class="rightSide">
            <form id="form2" method="post" action="/download">
                <input type="submit" class="button2" value="Download" name="action2"
                       onclick="document.getElementById('download_link').click(); return false;"/>
                <a href="https://www.shareaholic.com/api/share/?v=1&apitype=1&apikey=1c051ecba369321561b371e5b89056ee&service=twitter&title=Random%20Character%20Generator&link=http://randomavatar.click/ - ${short_link}" target="_blank">Share</a>
            </form>
        </div>
        <!-- <div class="footer">Copyright &#169; {{ year }} Random Avatar Inc., All rights reserved.</div> -->
    </section>
    <!-- hidden download link -->
    <a id="download_link" href="cache/{{ robohash }}.png" download="{{ robohash }}.png" hidden>&nbsp;</a>
</body>
</html>